:root{
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--Cream);
  font-family: 'DM Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.header { 
  background-color: var(--Soft-red);
  width: 17rem;
  border-radius: 1rem;  
  padding: 1rem 2rem;
  color: var(--Very-pale-orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0.8rem;
  margin-bottom: 1rem;
}

.title p {
  font-size: 0.8rem;
  opacity: 0.9;
}

.title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo img {
  width: 4rem;
}

.spent {
  background-color: var(--Very-pale-orange);
  width: 17rem;
  border-radius: 1.2rem;  
  color: var(--Dark-brown);
  padding: 0 2rem;
}

.spent p {
  font-size: 1.5rem;
  font-weight: 700;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  line-height: 0.1rem;
}

.actualMonth p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Medium-brown);
}

.actualMonth h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.lastMonth h3 {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: end;
}

.lastMonth p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Medium-brown);
  margin-bottom: 2rem;
}

.chart {
  list-style: none;
  margin: 0;
  padding: 0;
  /* gap: 1rem; */
}

.graphics::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--Medium-brown);
  opacity: 0.2;
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}




